.menu-icon-nyhet .dashicons-before:before {
	color: hsl(240, 100%, 75%) !important;
	/*background-color: red !important;*/
}

.emlanlistse-sort-container {
	display: flex;
	flex-wrap: wrap;
}

.emlanlistse-meta-container input {
	width: 300px;
	margin: 0 10px 10px 0;
}

.emlanlistse-sort-container input {
	width: 150px;
}

.emlanlistse-info-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
}

.emlanlistse-input-title {
	font-size: 16px;
}

/* overview window */

#myTable2 {
	border-collapse:separate; 
  	border-spacing: 0 3px;
}

#myTable2 tr:nth-child(even) {
	background-color: #fff;
}

#myTable2 tr:hover {
	background-color: #aae;
	/*border: solid 1px black;*/
	/*margin-bottom: 30px;*/
}

#myTable2 th {
	cursor: pointer;
}

#myTable2 td {
	padding: 3px 10px;
}