/*

	1.0 container
		1.1 <ul> .nyhet-ul
		1.2 <li> .nyhet-container


*/


/* 1.0 container */

/* 1.1 list */
.nyhet-ul {
	margin: 0;
	padding: 0;
	clear: both;
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
	/*width: 20rem;*/
	grid-gap: 2rem;
}


/* 1.2 list item */
.nyhet-container {
	list-style: none;

	/*display: flex;*/
	/*flex-direction: column;*/
}


/* list item background */
.nyhet-container:nth-child(odd) {
	background-color: hsl(120, 50%, 98%);
}


.nyhet-container:first-child {
    /*grid-column: 1 / span 2;*/
	/*background-color: red !important;*/
}

.nyhet-link {
	color: #000;
	text-decoration: none;
}

.nyhet-logo {
	width: 100%;
	height: auto;

	display: block;
}

.nyhet-text {
	display: block;
	padding: 1rem;
}

.nyhet-title {
	font-size: 2rem;
	display: block;
}

.nyhet-description {

}

/* 3.0 other browsers */

/* 3.1 old safari and edge */
@supports not (display: grid) {

} 

/* 3.2 internet explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.nyhet-container {
		display: -ms-grid;
	}
}