
.nyhet-ul {
	padding: 0;
	margin: 0;
	clear: both;
	box-sizing: border-box;
}

.nyhet-ul-floated {
	float: none !important;
	margin: 0 !important;
	width: 100% !important;
	padding: 1rem 1rem 0 1rem !important;
	background-color: #dee;
}

.nyhet-ul-floated > .nyhet-container {
	background-color: transparent !important;
	margin-bottom: 1rem;
}

.nyhet-ul > .nyhet-container:first-child > .nyhet-link > .nyhet-logo,
.nyhet-ul-floated > .nyhet-container > .nyhet-link > .nyhet-logo {
	margin: 0;
}

.nyhet-container {
	list-style: none;

	/*display: flex;*/

	/*flex-direction: column;*/

	align-items: center;

	font-size: 1.6rem;

	margin-bottom: 2rem;

	background-color: #fff;
}


/*.nyhet-container:nth-child(odd) {
	background-color: #eee;
}*/

@media only screen and (min-width: 600px) {
	.nyhet-container {
		flex-direction: row;
		flex-wrap: wrap;
	}
}


.nyhet-link {
	display: flex;

	color: #000;
	text-decoration: none;
}

.nyhet-logo {
	width: 15rem;
	height: auto;
	align-self: center;
	margin-right: 0.5rem;
}

.nyhet-text {
	display: flex;
	flex-direction: column;
}


.nyhet-container:first-child > .nyhet-link {
	display: flex;
	flex-direction: column;
} 

.nyhet-container:first-child > .nyhet-link > .nyhet-text {
	padding: 1rem;
}

.nyhet-container:first-child > .nyhet-link > .nyhet-logo {
	width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.nyhet-container {
		display: flex;
		flex-direction: row;

		width: 80%;
		margin: 2rem auto;
	}
		
	.nyhet-container:first-child > .nyhet-link > .nyhet-logo,
	.nyhet-logo {
		height: auto;
		width: 100%;
	}

	.nyhet-container:first-child > .nyhet-link,
	.nyhet-link,
	.nyhet-logo,
	.nyhet-title,
	.nyhet-text {
		display: block;
	}

	.nyhet-title {
		font-size: 2rem;
	}

}