/*

	1.0 container
		1.1 <ul> .emlanlist-ul
		1.2 <li> .emlanlist-container
	2.0 elements (in the container)
		2.1 bold elements
		2.2 title
		2.3 logo (max width: 18rem)
		2.4 info container
			2.4.1 info elements
		2.5 list container
			2.5.1 list elements
		2.6 dice
		2.7 bestill button
			2.7.1 bestill anchor
			2.7.2 bestill svg
			2.7.3 bestill text
		3.0 other browsers
			3.1 older safari/edge
			3.2 internet explorer

	LAYOUT:
	title 	info 	list 	dice 	bestill
	logo	info 	list 	dice 	bestill/bestill text

*/


/* 1.0 container */

/* 1.1 list */
.emlanlist-ul {
	margin: 0;
	padding: 0;
	clear: both;
}


/* 1.2 list item */
.emlanlist-container {
	display: grid;

	grid-template-columns: minmax(10rem, 20rem) minmax(20rem, 1fr) minmax(20rem, 1fr) minmax(auto, 20rem);
	grid-template-rows: minmax(2.5rem, auto) auto;

	grid-template-areas: 
	"title infoC infoL endc endc"
	"logo infoC infoL endc endc";
	/*"title infoC infoL terning bestillc"*/
	/*"logo infoC infoL terning bestillc";*/
	
	padding: 2rem 1rem 1rem 1rem;

	border-bottom: solid 1px #aaa;
	font-size: 1.4rem;
}


/* list item background */
.emlanlist-container:nth-child(odd) {
	background-color: #eee;
}


/* removes border from last item*/
.emlanlist-container:last-child {
	border-bottom: none;
}

/* 2.0 elements in container */

/* 2.1 bold elements */
.emlanlist-title,
.emlanlist-info-en,
.emlanlist-info-fem {
	font-weight: 700;
}

/* 2.2 title */
.emlanlist-title-container {
	grid-area: title;
	/*white-space: nowrap;*/
	z-index: 10;
	/*background-color: inherit;*/
}
.emlanlist-title {
	font-size: 1.6rem;
	color: #000;
	/*background-color: inherit;*/
}


/* 2.3 logo */
.emlanlist-logo-container {
	grid-area: logo;
}
.emlanlist-logo {
	width: 18rem;
	height: auto;
}

.emlanlist-logo-ls {
	text-align: center;
}


/* 2.4 info container */
.emlanlist-info-container {
	grid-area: infoC;
}


/* 2.4.1 info element (and list info elements) */
.emlanlist-info {
	margin: 0 0 1rem 2rem;
	/*margin: 0 0 1rem 6rem;*/
}


/* 2.5 list container */
.emlanlist-list-container {
	grid-area: infoL;
}


/* 2.5.1 list info 
   info elements styled as list-item */
.emlanlist-info-fem,
.emlanlist-info-seks,
.emlanlist-info-syv,
.emlanlist-info-atte {
	display: list-item;
	list-style: disc;
} 

/* dice and bestill */
.emlanlist-end-container {
	grid-area: endc;

	margin-top: 2.5rem;

	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap-reverse;
}

/* 2.6 dice */
.emlanlist-terning {
	/*grid-area: terning;*/

	/*justify-self: center;*/
	/*align-self: center;*/
	/*margin-bottom: 0.5rem;*/

	width: 50px;
	height: 50px;
	background-color: #e22;
	border-radius: 3px;
	margin: 0 1rem;
}


/* 2.6.1 dice svg */
.rect-svg {
	height: 50px;
	width: 50px;
	/*fill: #0f0;*/
}


/* 2.6.2 dice eye svg */
.circle-svg {
	fill: #ffffff;
}


/* 2.7 bestill button */
.emlanlist-bestill-container {
	/*grid-area: bestillc;*/
	/*align-self: center;*/
	/*margin-top: 1.6rem;*/
}
.emlanlist-bestill {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* 2.7.1 bestill anchor */
.emlanlist-link {
	padding: 1rem 2rem;

	background-image: linear-gradient(hsl(120, 70%, 60%) 0%, hsl(120, 70%, 50%) 100%);
	border: solid 1px hsl(120, 50%, 60%);
	border-radius: 5px;

	font-size: 2.2rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-family: arial;
	text-decoration: none;

	white-space: nowrap;
}


/* 2.7.2 bestill svg (thumb icon )*/
.emlanlist-svg {
	filter: drop-shadow(1px 1px 1px #333);
}
.emlanlist-thumb {
	fill: #fff;
}


/* 2.7.3 bestill text */
.emlanlist-bestilltext {
	margin-top: 0.5rem;
	text-align: center;
	padding-bottom: 1rem;
}

/* 3.0 other browsers */

/* 3.1 old safari and edge */
@supports not (display: grid) {

	/* turn grid into flexbox */
	.emlanlist-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1rem;
	}

	/* one line in flexbox */
	.emlanlist-title-container {
		width: 100%;
		margin-bottom: 10px;
	}

	/* making elements aligned */
	.emlanlist-info-container,
	.emlanlist-list-container {
		width: 30rem;
	}
} 

/* 3.2 internet explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.emlanlist-container {
		display: -ms-grid;
		-ms-grid-columns: 20rem 1fr 1fr auto;
		-ms-grid-rows: 2.5rem auto;
	}

	.emlanlist-title-container {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.emlanlist-logo-container {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}

	.emlanlist-info-container {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-row-span: 2;
	}

	.emlanlist-list-container {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		-ms-grid-row-span: 2;
	}

	.emlanlist-end-container {
		display: -ms-flexbox;

		align-items: flex-start;

		-ms-grid-row: 1;
		-ms-grid-column: 4;
		-ms-grid-row-span: 2;

	}

}